Repository Crossbuildjs/crossbuild, changes with the labels that .github/labeler.yml gives for each.
All labels: meta/repo, dependencies, docs, package: crossbuild, package: core, package: discord, package: functions, package: guilded, package: types

.github/labeler.yml:

"meta/repo":
    - "*"
    - ".github/**"

"dependencies":
    - "pnpm-lock.yaml"

"docs":
    - "apps/website"

"package: crossbuild":
    - "packages/crossbuild/**"

"package: core":
    - "packages/core/**"

"package: discord":
    - "packages/discord/**"

"package: functions":
    - "packages/functions/**"

"package: guilded":
    - "packages/guilded/**"

"package: types":
    - "packages/types/**"

Remove templabeler
  .github/workflows/templabeler.yml
Labels: meta/repo

issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: meta/repo

more meta files
  .github/FUNDING.yml
  .github/SECURITY.yml
Labels: meta/repo

oops
  .github/SECURITY.yml
Labels: meta/repo

update renovate config
  renovate.json
Labels: meta/repo

chore: enable automerge
  .vscode/settings.json
  renovate.json
Labels: meta/repo

chore: Update dependencies
  .changeset/funny-islands-sing.md
  apps/test-bot/package.json
  package.json
  packages/core/package.json
  packages/crossbuild/package.json
  packages/discord/package.json
  packages/functions/package.json
  packages/guilded/package.json
  packages/types/package.json
  pnpm-lock.yaml
Labels: meta/repo, dependencies, package: crossbuild, package: core, package: discord, package: functions, package: guilded, package: types

chore: Ignore disabled in renovate
  renovate.json
Labels: meta/repo

feat: More option types (#15)
  .changeset/gentle-otters-juggle.md
  .vscode/settings.json
  apps/test-bot/src/components/commands/args.ts
  packages/core/src/abstract/Channel.ts
  packages/core/src/abstract/Message.ts
  packages/core/src/abstract/Module.ts
  packages/core/src/abstract/OptionsHandler.ts
  packages/core/src/abstract/ReceivedInteraction.ts
  packages/core/src/abstract/Role.ts
  packages/core/src/abstract/Server.ts
  packages/core/src/abstract/User.ts
  packages/core/src/classes/ComponentHandler.ts
  packages/core/src/classes/CrossBuild.ts
  packages/core/src/classes/OptionsHandler.ts
  packages/core/src/index.ts
  packages/core/src/typings/types.ts
  packages/discord/src/classes/DiscordChannel.ts
  packages/discord/src/classes/DiscordMessage.ts
  packages/discord/src/classes/DiscordRole.ts
  packages/discord/src/classes/DiscordServer.ts
  packages/discord/src/classes/DiscordUser.ts
  packages/discord/src/index.ts
  packages/discord/src/interactions/DiscordInteractionModule.ts
  packages/discord/src/interactions/DiscordInteractionOptionsHandler.ts
  packages/discord/src/messages/DiscordMessageModule.ts
  packages/discord/src/messages/DiscordMessageOptionsHandler.ts
  packages/discord/tsconfig.json
  packages/guilded/src/GuildedModule.ts
  packages/guilded/src/classes/GuildedChannel.ts
  packages/guilded/src/classes/GuildedMessage.ts
  packages/guilded/src/classes/GuildedOptionsHandler.ts
  packages/guilded/src/classes/GuildedReceivedMessage.ts
  packages/guilded/src/classes/GuildedRole.ts
  packages/guilded/src/classes/GuildedServer.ts
  packages/guilded/src/classes/GuildedUser.ts
  packages/guilded/src/index.ts
Labels: package: core, package: discord, package: guilded

feat: Support ephemeral and silent messages
  packages/guilded/src/classes/GuildedChannel.ts
  packages/guilded/src/classes/GuildedMessage.ts
  packages/guilded/src/functions/message.ts
  packages/guilded/src/index.ts
  packages/types/src/index.ts
Labels: package: guilded, package: types

changeset
  .changeset/rotten-walls-jog.md
Labels: none

rename ephemeral to silent
  packages/guilded/src/functions/message.ts
  packages/types/src/index.ts
Labels: package: guilded, package: types

rename ephemeral to silent
  packages/discord/src/interactions/DiscordReceivedInteraction.ts
  packages/functions/src/generateEmbed.ts
Labels: package: discord, package: functions

changeset
  .changeset/tidy-berries-breathe.md
Labels: none

Publish and changelogs
  .changeset/funny-islands-sing.md
  .changeset/gentle-otters-juggle.md
  .changeset/heavy-bats-happen.md
  .changeset/nasty-flowers-call.md
  .changeset/strange-waves-juggle.md
  .changeset/tidy-berries-breathe.md
  .changeset/wet-hats-relate.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/crossbuild/CHANGELOG.md
  packages/crossbuild/package.json
  packages/discord/CHANGELOG.md
  packages/discord/package.json
  packages/functions/CHANGELOG.md
  packages/functions/package.json
  packages/guilded/CHANGELOG.md
  packages/guilded/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: package: crossbuild, package: core, package: discord, package: functions, package: guilded, package: types

chore: update readme
  README.md
Labels: meta/repo
